name: 2. Check new patch
permissions: write-all
on:
  schedule:
    - cron: "0 9 * * *"
  workflow_dispatch:
    inputs:
      retry_count:
        description: 'Do not change value below'
        required: false
        default: '1'
jobs:
  check:
    name: Check new patch
    runs-on: ubuntu-latest
    env:
      repository: ${{ github.repository }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Check github connection
        id: check-gh
        run: bash src/etc/connection.sh
      - name: Check new patch ReVanced
        id: check-rv
        if: steps.check-gh.outputs.internet_error == '0'
        run: bash src/etc/ci.sh ReVanced/revanced-patches latest youtube-revanced.apk
      - name: Check new patch Revanced Extended Arsclib
        id: check-rve-arsclib
        if: steps.check-gh.outputs.internet_error == '0'
        run: bash src/etc/ci.sh inotia00/revanced-patches-arsclib latest reddit-revanced-extended-arsclib.apk
      - name: Check new patch Twitter Piko Stable
        id: check-twitter-piko-stable
        if: steps.check-gh.outputs.internet_error == '0'
        run: bash src/etc/ci.sh crimera/piko latest twitter-stable-piko.apk
      - name: Check new patch Revanced Experiments
        id: check-Revanced-Experiments
        if: steps.check-gh.outputs.internet_error == '0'
        run: bash src/etc/ci.sh Aunali321/ReVancedExperiments latest telegram-revanced-experiments.apk 
      - name: Check new patch BiliRoamingM
        id: check-BiliRoamingM
        if: steps.check-gh.outputs.internet_error == '0'
        run: bash src/etc/ci.sh sakarie9/BiliRoamingM latest bilibili-BiliRoamingM.apk
      - name: Check new patch Scrazzz Patches
        id: check-Scrazzz-Patches
        if: steps.check-gh.outputs.internet_error == '0'
        run: bash src/etc/ci.sh scrazzz/revanced-patches latest soild-explorer-scrazzz.apk
      - name: Check new patch Dropped Patches
        id: check-Dropped-Patches
        if: steps.check-gh.outputs.internet_error == '0'
        run: bash src/etc/ci.sh indrastorms/revanced-patches latest dropped-patches-revanced.apk
      - name: Check new patch Instafel
        id: check-Instafel
        if: steps.check-gh.outputs.internet_error == '0'
        run: bash src/etc/ci.sh Instafel/revanced-patches latest instafel.apk
      - name: Re-run workflow if github connection not stable
        if: always() && steps.check-rv.outcome == 'skipped' && env.retry_count < env.max_retries
        uses: actions/github-script@v7
        with:
          script: |
            const maxRetries = ${{ env.max_retries }};
            let retryCount = ${{ env.retry_count }};
            if (retryCount < maxRetries) {
              retryCount += 1;
              await github.rest.actions.createWorkflowDispatch({
                owner: context.repo.owner,
                repo: context.repo.repo,
                workflow_id: "ci.yml",
                ref: context.ref,
                inputs: {
                  'retry_count': String(retryCount)
                }
              });
            }
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          retry_count: ${{ github.event.inputs.retry_count }}
          max_retries: 3
    outputs:
      check_rv: ${{ steps.check-rv.outputs.new_patch }}
      check_rve_arsclib: ${{ steps.check-rve-arsclib.outputs.new_patch }}
      check_twitter_piko_stable: ${{ steps.check-twitter-piko-stable.outputs.new_patch }}
      check_Revanced_Experiments: ${{ steps.check-Revanced-Experiments.outputs.new_patch }}
      check_BiliRoamingM: ${{ steps.check-BiliRoamingM.outputs.new_patch }}
      check_Scrazzz_Patches: ${{ steps.check-Scrazzz-Patches.outputs.new_patch }}
      check_Dropped_Patches: ${{ steps.check-Dropped-Patches.outputs.new_patch }}
      check_Instafel: ${{ steps.check-Instafel.outputs.new_patch }}

  Patch-Revanced:
    name: Patch Revanced Stable
    needs: check
    if: ${{ needs.check.outputs.check_rv == 1 }}
    uses: ./.github/workflows/manual-patch.yml
    with:
      org: "Revanced"
  Patch-Revanced-Extended-Arsclib:
    name: Patch Revanced Extended Arsclib
    needs: check
    if: ${{ needs.check.outputs.check_rve_arsclib == 1 }}
    uses: ./.github/workflows/manual-patch.yml
    with:
      org: "Revanced Extended Arsclib"
  Patch-Twitter-Piko-Stable:
    name: Patch Twitter Piko Stable
    needs: check
    if: ${{ needs.check.outputs.check_twitter_piko_stable == 1 }}
    uses: ./.github/workflows/manual-patch.yml
    with:
      org: "Twitter Piko Stable"
  Patch-Revanced-Experiments:
    name: Patch Revanced Experiments
    needs: check
    if: ${{ needs.check.outputs.check_Revanced_Experiments == 1 }}
    uses: ./.github/workflows/manual-patch.yml
    with:
      org: "Revanced Experiments"
  Patch-BiliRoamingM:
    name: Patch BiliRoamingM
    needs: check
    if: ${{ needs.check.outputs.check_BiliRoamingM == 1 }}
    uses: ./.github/workflows/manual-patch.yml
    with:
      org: "BiliRoamingM"
  Patch-Scrazzz-Patches:
    name: Patch Scrazzz Patches
    needs: check
    if: ${{ needs.check.outputs.check_Scrazzz_Patches == 1 }}
    uses: ./.github/workflows/manual-patch.yml
    with:
      org: "Scrazzz Patches"
  Patch-Dropped-Patches:
    name: Patch Dropped Patches
    needs: check
    if: ${{ needs.check.outputs.check_Dropped_Patches == 1 }}
    uses: ./.github/workflows/manual-patch.yml
    with:
      org: "Dropped Patches"
  Patch-Instafel:
    name: Patch Instafel
    needs: check
    if: ${{ needs.check.outputs.check_Instafel == 1 }}
    uses: ./.github/workflows/manual-patch.yml
    with:
      org: "Instafel"
